<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Bluetooth permissions -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <!-- Location permissions (required for Bluetooth scanning) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Feature declaration -->
    <uses-feature android:name="android.hardware.bluetooth" android:required="true" />

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@drawable/logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/logo"
            android:supportsRtl="true"
            android:theme="@style/Theme.ControlDCMotor"
            tools:targetApi="31">

        <!-- Splash Activity - Launcher -->
        <activity
                android:name=".SplashActivity"
                android:exported="true"
                android:theme="@style/Theme.ControlDCMotor.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
                android:name=".MainActivity"
                android:exported="false"
                android:label="@string/app_name"
                android:theme="@style/Theme.ControlDCMotor" />

        <!-- Developer Metadata for External Use -->
        <meta-data
                android:name="developer_name"
                android:value="HichemTab-tech" />
        <meta-data
                android:name="developer_website"
                android:value="https://github.com/HichemTab-tech" />
        <meta-data
                android:name="contact_email"
                android:value="hichem.tab2002@gmail.com" />

    </application>

</manifest>
